<div class="banner">
  <div class="carrusel">
    <img src="../../assets/banner-centros-hospitalarios.jpg" alt="Banner de Centros Hospitalarios">
  </div>
  <div class="overlay">
    <div class="texto" *ngFor="let texto of textos; let i = index" [class.active]="i === currentText">
      {{ texto }}
    </div>
  </div>
</div>

<h1>Productos</h1>
<label for="searchBox">Buscar:</label>
  <input type="text" name="searchBox" [(ngModel)]="searchData" (keyup)="getFileteredPruducts()" id="searchBox" placeholder="Buscar producto...">



    <app-cards [medicos]="data"></app-cards>






